.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
}

.flower-img {
  width: 100%;
  height: 220px;
  object-fit: contain;   /* <-- NO CUTTING */
  background: #fff;
  border-radius: 8px;
}


.add-btn {
  margin-bottom: 15px;
}
