<p>details works!</p>


<h2>Flower Details</h2>

<div *ngIf="flower">
  <p><b>Name:</b> {{ flower.title }}</p>
  <p><b>Price:</b> {{ flower.price }}</p>
  <p><b>Description:</b> {{ flower.description }}</p>
  <!-- <p><b>Price:</b> {{ flower.price }}</p> -->
  <p><b>Likes:</b> {{ flower.likes }}</p>
</div>

<button type="button" routerLink="/catalog/list">Back</button>
<button type="button" [routerLink]="['/catalog/update', flower?.id]">Update</button>
<button type="button" (click)="deleteFlower()">Delete</button>
